<mat-card class="mx-auto">
  <h2 class="text-center">Entre em Nosso Sistema</h2>
  <mat-spinner *ngIf="estaCarregando"></mat-spinner>
  <form class="mx-3" *ngIf="!estaCarregando" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="E-mail"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Senha"
        #passwordInput="ngModel"
        ngModel
        name="password"
        required
      >
    </mat-form-field>
    <div class="form-row">
      <div class="col-12 mr-3">
        <button mat-raised-button color="accent" type="submit">Login</button>
      </div>
    </div>
  </form>
</mat-card>
