router-outlet{
  font-family: 'Lato', sans-serif;
}

div.w-100{
  height: calc(100vh - 3.688rem);
  overflow-y: auto;

}
main{
  min-height: calc(100vh - 12.236rem);
  font-family: 'Lato', sans-serif;
  margin: 0;
}
