router-outlet{
  font-family: 'Lato', sans-serif;
}

div.w-100{
  height: calc(100vh - 3.688rem);
  overflow-y: scroll;
}
main{
  min-height: calc(100vh - 9.5rem - 3.688rem);
  font-family: 'Lato', sans-serif;
}
app-footer{
  position: sticky;
}
