*{
  font-family: 'Lato', sans-serif;
}

img {
  width: 15.625rem;
  height: 12.5rem;
}

.card-img{
  border-radius: 1rem;
}

.btn:hover{
  cursor: default;
}
.btn img{
  cursor: pointer;
}
.card {
  border: 0;
}

.content {
  padding: 1.5rem;
}

.recipe-toolbar{
  background-color: var(--lighter-blue-color);
  border: 2px solid var(--light-blue-color);
}

.ingredient-toolbar{
  background-color: var(--lighter-green-color);
  border: 2px solid var(--light-green-color);
}

mat-toolbar {
  border-radius: 0.5rem;
  max-height: 4rem;
}

mat-card {
  display: inline-block;
  width: 18rem;
  margin-left: 0.7rem;
  margin-bottom: 0.7rem;
}
