<div class="my-3">
  <h2 class="mb-3">Bem Vindo!</h2>
  <p>
    Nós da Mão na Massa queremos uma melhor experiência possivel para nossos
    usuários.
  </p>
  <hr class="my-4" />
  <p>Sinta-se à vontade para ver e criar as melhores receitas para você!</p>
  <p class="lead"></p>
</div>
<mat-toolbar class="recipe-toolbar"> Suas Receitas: </mat-toolbar>


<div class="row w-100 w-100 my-3">
  <div class="col-12 d-flex justify-content-center flex-wrap">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Seu Livro de Receita</mat-card-title>
      </mat-card-header>
      <hr />
      <img mat-card-image src="../../assets/svg/livro-de-receitas.svg" />
      <mat-card-content>
        <p>Controle sua receita por aqui!</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="/add/recipe">Adicionar</a>
        <a mat-button href="/list/recipes">Ver Receitas</a>
      </mat-card-actions>
    </mat-card>
    
    <mat-card *ngFor="let recipe of recipes">
      <mat-card-header>
        <mat-card-title>{{ recipe.name }}</mat-card-title>
      </mat-card-header>
      <hr />
      <img mat-card-image src="../../assets/svg/receita.svg" />
      <mat-card-content>
        <p>Descrição das receitas</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button (click)="onEditRecipe(recipe.id)">Editar</a>
        <a mat-button (click)="onRemoveRecipe(recipe.id)">Remover</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<mat-toolbar class="ingredient-toolbar"> Seu Estoque: </mat-toolbar>
<div class="row w-100 w-100 my-3">
  <div
    class="col-12 d-flex justify-content-center align-content-start flex-wrap"
  >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Armazem</mat-card-title>
      </mat-card-header>
      <hr />
      <img mat-card-image src="../../assets/svg/ingredientes.svg" />
      <mat-card-content>
        <p class="mb-0 pt-0">Controle seu esqueto por aqui!</p>
        <p class="mt-0 pt-0"></p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button href="/add/ingredient">Adicionar</a>
        <a mat-button href="/list/ingredients">Ver Estoque</a>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngFor="let ingredient of ingredients">
      <mat-card-header>
        <mat-card-title>{{ ingredient.ingredient }}</mat-card-title>
      </mat-card-header>
      <hr />
      <img mat-card-image src="../../assets/svg/ingrediente.svg" />
      <mat-card-content>
        <p class="mb-0 pt-0">
          <strong>Preço Unitário: </strong>
          {{ ingredient.price | currency: "R$" }}
        </p>
        <p class="mt-0 pt-0">
          <strong>Quantidade: </strong> {{ ingredient.quantity }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="onEditIngredient(ingredient.id)">Editar</button>
        <button mat-button (click)="onRemoveIngredient(ingredient.id)">Remover</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
