<form class="row g-3 m-4 w-80 m-auto mt-3 flex-column">
  <div class="col-sm">
    <label for="ingrediente">Ingrediente</label>
    <input id="ingrediente" type="text" class="form-control" placeholder="Ingrediente" aria-label="City">
  </div>
  <div class="col-sm">
    <label for="quantidade">Quantidade</label>
    <input id="quantidade" type="text" class="form-control" placeholder="Quantidade" aria-label="City">
  </div>
  <div class="col-sm">
    <label for="unidade">Unidade</label>
    <input id="unidade" type="text" class="form-control" placeholder="Unidade" aria-label="City">
  </div>
  <div class="row g-3">
  <div class="col-sm">
    <label for="dt-validade">Data de Validade</label>
    <input id="dt-validade" type="text" class="form-control" placeholder="Data de Validade" aria-label="City">
  </div>
  <div class="col-sm">
    <label for="preco">Preço</label>
    <input id="preco" type="text" class="form-control" placeholder="Preço" aria-label="City">
  </div>
  <!-- <div class="col-sm">
    <label for="qt-alerta">Quantidade de Alerta</label>
    <input id="qt-alerta" type="text" class="form-control" placeholder="Quantidade de Alerta">
  </div> -->
</div>
<div class="">
  <button type="button" class="btn btn-primary botao-largura">Adicionar</button>
</div>
</form>

