<h2 class="text-center">Cadastro de Ingredientes</h2>

<form (submit)="onAddIngredient(ingredientForm)" #ingredientForm="ngForm">
  <div class="form-row">
    <div class="col-12 col-lg-8">
      <label for="ingredient">Ingrediente</label>
      <input
        id="ingredient"
        type="text"
        name='ingredient'
        class="form-control"
        placeholder="Ingrediente"
        aria-label="City"
        ngModel
        #ingredient="ngModel"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 col-lg-4">
      <label for="quantity">Quantidade</label>
      <input
        id="quantity"
        type="number"
        name='quantity'
        class="form-control"
        placeholder="Quantidade"
        aria-label="City"
        ngModel
        #quantity="ngModel"
      />
    </div>
    <div class="col-12 col-lg-4">
      <label for="measurement">Medida por Unidade</label>
      <div class="input-group">
        <input
          id="measurement"
          type="number"
          name='measurement'
          class="form-control"
          placeholder="Unidade"
          aria-label="City"
          ngModel
          #measurement="ngModel"
        />
        <div class="input-group-append">
          <select
            class="form-control"
            name="measurementUnit"
            id="measurementUnit"
            ngModel
            #measurementUnit="ngModel"
          >
            <option selected value="Kg">Kg</option>
            <option value="g">g</option>

            <option value="L">L</option>
            <option value="ml">ml</option>

            <option value="Oz">Oz</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm">
    <label for="qt-alerta">Quantidade de Alerta</label>
    <input id="qt-alerta" type="text" class="form-control" placeholder="Quantidade de Alerta">
  </div> -->

  <div class="form-row">
    <div class="col-12 col-lg-4">
      <label for="expirationDate">Data de Validade</label>
      <input
        id="expirationDate"
        type="date"
        name='expirationDate'
        data-mask="00/00/0000"
        class="form-control"
        placeholder="Data de Validade"
        aria-label="City"
        ngModel
        #expirationDate="ngModel"
      />
    </div>
    <div class="col-12 col-lg-4">
      <label for="price">Preço</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">R$</span>
        </div>
        <input
          id="price"
          type="number"
          name='price'
          class="form-control"
          placeholder="Preço"
          aria-label="City"
          ngModel
          #price="ngModel"
        />
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-12 col-lg-8">
      <button type="submit" class="btn btn-primary botao-largura">
        Adicionar
      </button>
    </div>
  </div>
</form>
