<h2 class="my-3">Suas Receitas</h2>

<mat-accordion *ngFor='let recipe of recipes'>
  <mat-expansion-panel >
    <mat-expansion-panel-header >
      <span>{{recipe.name}}</span><span>{{recipe.finalPrice | currency:'R$' }}</span>  <span>Data de Produção: {{recipe.productionDate}}</span>
    </mat-expansion-panel-header>
    <p>Percentual  de lucro: {{recipe.profitPercentage}}%</p>
    <p>Valor Minimo: {{recipe.minimumValue | currency:'R$' }}</p>
    <div *ngIf='recipe.lines.length > 0' >
    <p>Ingredientes:</p>
      <ul *ngFor='let linha of recipe.lines' >
        <li class='teste'>{{linha.ingredient}} | Qtde: {{linha.quantity}} | {{linha.price | currency:'R$'}}</li>
      </ul>
    </div>

    <mat-action-row>
      <button mat-raised-button (click)="onEditRecipe(recipe.id)"  class="btn btn-primary" >Editar</button>
      <button mat-raised-button (click)="onRemoveRecipe(recipe.id)" class="btn btn-danger">Remover</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf='recipes.length <= 0'>Sem Receitas disponíveis</p>
