<mat-accordion *ngFor='let recipe of recipes'>
  <mat-expansion-panel >
    <mat-expansion-panel-header >
      <span>{{recipe.name}}</span><span>{{recipe.finalPrice | currency:'R$' }}</span>  <span>Data de Produção: {{recipe.productionDate}}</span>
    </mat-expansion-panel-header>
    <p>Percentual  de lucro: {{recipe.profitPercentage}}%</p>
    <p>Valor Minimo: {{recipe.minimumValue | currency:'R$' }}</p>
    <div *ngIf='recipe.lines.length > 0' >
    <p>Ingredientes:</p>
      <ul *ngFor='let linha of recipe.lines' >
        <li class='teste'>Id: {{linha.id}} | Qtde: {{linha.quantityIngredient}} | total: {{linha.total}}</li>
      </ul>
    </div>

    <mat-action-row>
      <button mat-raised-button class="btn btn-primary" >Editar</button>
      <button mat-raised-button class="btn btn-danger"  >Remover</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf='recipes.length <= 0'>Sem Receitas disponíveis</p>
