:host{
  margin-top: 1rem;
  display: block;
}
ul {
  list-style-type: circle;
}
mat-expansion-panel{
  padding: 5px 0;

  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.3);
}
mat-expansion-panel-header {
  height: 2rem;
}
