<footer class="container-fluid bg-footer margin footer ul-footer soft-yellow" style="margin-top: 12px; margin-bottom: 12px;">
    <p class="footer-title" style="text-align: center;">Desenvolvido por</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <ul class="ul-footer">
                    <li><a>Diego Miolo</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="https://github.com/DiegoMiolo">GitHub</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="ul-footer">
                    <li><a>Emanuelle Branquinho</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="https://github.com/manussss">GitHub</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="ul-footer">
                    <li><a>Gabriel Teodoro</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="https://github.com/GabTeodoro">GitHub</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="ul-footer">
                    <li><a>Jailson Santos</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="https://github.com/Jobiliedsam">GitHub</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="ul-footer">
                    <li><a>Otavio Dantas</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="https://github.com/TampelliniOtavio">GitHub</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="ul-footer">
                    <li><a>Vinicius Araujo</a></li>
                    <li><a href="#">Linkedin</a></li>
                    <li><a href="https://github.com/vinicius1122">GitHub</a></li>
                </ul>
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>
</footer>
