<footer class="container-fluid bg-footer footer ul-footer soft-yellow" >
  <p class="footer-title mb-2 text-center">Desenvolvido por</p>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-6">
        <ul class="ul-footer d-inline-block">
          <li><a>Diego Miolo</a></li>
          <li>
            <a href="#" class="mr-2"><img src="assets/svg/linkedin.svg" alt="Linkedin" /></a>
            <a href="https://github.com/DiegoMiolo"><img src="assets/svg/github.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <ul class="ul-footer d-inline-block text-truncate">
          <li><a>Emanuelle Branquinho</a></li>
          <li>
            <a href="#" class="mr-2"><img src="assets/svg/linkedin.svg" alt="Linkedin" /></a>
            <a href="https://github.com/manussss"><img src="assets/svg/github.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <ul class="ul-footer d-inline-block text-truncate">
          <li><a>Gabriel Teodoro</a></li>
          <li>
            <a href="#" class="mr-2"><img src="assets/svg/linkedin.svg" alt="Linkedin" /></a>
            <a href="https://github.com/GabTeodoro"><img src="assets/svg/github.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <ul class="ul-footer d-inline-block text-truncate">
          <li><a>Jailson Santos</a></li>
          <li>
            <a href="#" class="mr-2"><img src="assets/svg/linkedin.svg" alt="Linkedin" /></a>
            <a href="https://github.com/Jobiliedsam"><img src="assets/svg/github.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <ul class="ul-footer d-inline-block text-truncate">
          <li><a>Otavio Dantas</a></li>
          <li>
            <a href="#" class="mr-2"><img src="assets/svg/linkedin.svg" alt="Linkedin" /></a>
            <a href="https://github.com/TampelliniOtavio"><img src="assets/svg/github.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-6">
        <ul class="ul-footer d-inline-block text-truncate">
          <li><a>Vinicius Araujo</a></li>
          <li>
            <a href="#" class="mr-2"><img src="assets/svg/linkedin.svg" alt="Linkedin" /></a>
            <a href="https://github.com/vinicius1122"><img src="assets/svg/github.svg" alt="GitHub" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
