<nav class="navbar d-block navbar-expand-lg navbar-light soft-yellow">
  <div class="container-fluid w-80">
    <a class="navbar-brand" tabindex="-1" href="/">Mão na Massa</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarReceitas"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            tabindex="-1"
          >
            Receitas
          </a>
          <div class="dropdown-menu slide-out" aria-labelledby="navbarReceitas">
            <a class="dropdown-item" href="/add/recipe">Cadastrar Receita</a>
            <a class="dropdown-item" href="/list/recipes">Minhas Receitas</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarItemsProduced"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            tabindex="-1"
          >
            Itens Produzidos
          </a>
          <div class="dropdown-menu slide-out" aria-labelledby="navbarItemsProduced">
            <a class="dropdown-item" href="/add/items-produced"
              >Cadastrar Item</a
            >
            <a class="dropdown-item" href="/list/items-produced"
              >Ver Itens</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarReceitas"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            tabindex="-1"
          >
            Ingredientes
          </a>
          <div class="dropdown-menu slide-out" aria-labelledby="navbarReceitas">
            <a class="dropdown-item" href="/add/ingredient">Cadastrar Ingrediente</a>
            <a class="dropdown-item" href="/list/ingredients">Minhas Ingredientes</a>
          </div>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle font-0"
          href="#"
          id="navbarNotificacoes"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (blur)="onBlur()"
          tabindex="-1">
          <img class="d-block bell-notification" src="assets/svg/bell.svg" alt="Notificações" />
          <div [ngClass]="{'has-notification': verif,'no-notification':!verif}"></div>
        </a>
          <div class="dropdown-menu slide-out nav-notification-width" aria-labelledby="navbarNotificacoes">
            <a *ngFor="let notification of notifications" href="#" class="dropdown-item ">
              <span class="d-inline-block notification-text text-wrap">{{notification.message}}</span>
              <div class="flex-1"></div>
              <span class="notification-date">{{notification.date}}</span>
            </a>
          </div>
        </li>

      </ul>

      <div class="d-flex flex-lg-fill"></div>

      <div class="d-flex">
        <form class="input-group w-auto">
          <input
            class="form-control"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <span for='search' class=" input-group-text soft-yellow" id="basic-addon1">
            <a class='font-0' href="#" id='search' >
              <img src="assets/svg/search24px.svg" alt="Pesquisar" />
            </a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
